html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overscroll-behavior: none;
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 8rem;
    bottom: 0;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

h1 {
    font-family: Roboto, Arial;
    font-size: 3.6rem;
    margin-top: 0rem;
    margin-bottom: 0.8rem;
}

h2 {
    font-family: Roboto, Arial;
    font-size: 2.6rem;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    margin-top: 0rem;
    margin-bottom: 1.6rem;
}

p {
    font-size: 1.8rem;
    font-family: Robot, Arial;
}

img {
    height: auto;
    max-width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

a:hover {
    color: hsl(0, 0%, 30%);
}

.icon-span {
    font-size: 4.5rem;
    margin-right: 1.6rem;
}

.black-text {
    color: hsl(0, 0%, 0%);
}

.project-card {
    background-color: hsl(0, 0, 100%);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 0.8rem;
    margin-bottom: 3.2rem;
}

.left-padding {
    padding-left: 1.6rem;
}

.right-margin {
    margin-right: 0.8rem;
}

.view-project-text {
    font-weight: bold;
    font-size: 1.6rem;
}

.project-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.project-desc-text {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
}

.line-height-paragraph {
    line-height: 1.5;
}

.faint-text {
    color: rgba(0, 0, 0, 0.7);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#main-title {
    width: 50%;
}

#university-icon {
    color: hsl(0, 0%, 0%);
}

#menu-icon {
    font-size: 4.5rem;
    float: right;
}

#main-div {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    padding-top: 13.2rem;
    padding-bottom: 100px;
    margin: auto;
}

#socials-div {
    width: 80%;
    margin: auto;
    padding: 1.6rem 0rem 1.6rem 0rem;
}

#navbar {
    display: flex;
    position: fixed;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 10rem;
    top: 0;
    width: 100%;
    background-color: white;
}

#logos {
    width: 80%;
}

#logo {
    padding-top: 1rem;
}